<section>
    <h1>Pool A - Schedule</h1>
    <table>
        <tr>
            <th>Monday 18 March</th>
            <th>Team</th>
            <th>Result</th>
            <th>Team</th>
        </tr>
        <tr ng-repeat="schedule in schedules">
            <td>{{schedule.date}}</td>
            <td ng-class="{ winner : schedule.team1Score > schedule.team2Score}">{{schedule.team1}}</td>
            <td>{{schedule.team1Score}} - {{schedule.team2Score}}</td>
            <td ng-class="{ winner : schedule.team1Score < schedule.team2Score}">{{schedule.team2}}</td>
        </tr>
    </table>
</section>