<section>
    <h1>Pool A - Ranking</h1>
    <table>
        <thead>
            <tr>
                <th ng-click="orderBy('team')">Team</th>
                <th ng-click="orderBy('win')">W</th>
                <th ng-click="orderBy('Lost')">L</th>
                <th ng-click="orderBy('Pw')">Points won</th>
                <th ng-click="orderBy('Pl')">Points lost</th>
                <th ng-click="orderBy('Pw - Pl')">+/-</th>
            </tr>
        </head>
        <tbody>
            <tr ng-repeat="rank in ranking | orderBy: orderProp:true">
                <td>{{rank.team}}</td>
                <td>{{rank.win}}</td>
                <td>{{rank.Lost}}</td>
                <td>{{rank.Pw}}</td>
                <td>{{rank.Pl}}</td>
                <td>{{rank.Pw - rank.Pl}}</td>
            </tr>
        </tbody>
    </table>
</section>