<section>
    <h1>Pool A - Ranking</h1>
    <table>
        <thead>
            <tr>
                <th ng-click="orderBy('team')" ng-class="{'active': orderProp=='team'}">Team</th>
                <th ng-click="orderBy('win')" ng-class="{'active': orderProp=='win'}">W</th>
                <th ng-click="orderBy('Lost')" ng-class="{'active': orderProp=='Lost'}">L</th>
                <th ng-click="orderBy('Pw')" ng-class="{'active': orderProp=='Pw'}">Points won</th>
                <th ng-click="orderBy('Pl')" ng-class="{'active': orderProp=='Pl'}">Points lost</th>
                <th ng-click="orderBy('Pw - Pl')" ng-class="{'active': orderProp=='Pw - Pl'}">+/-</th>
            </tr>
        </head>
        <tbody>
            <tr ng-repeat="rank in ranking | orderBy: orderProp:true">
                <td>{{rank.team}}</td>
                <td>{{rank.win}}</td>
                <td>{{rank.Lost}}</td>
                <td>{{rank.Pw}}</td>
                <td>{{rank.Pl}}</td>
                <td>{{rank.Pw - rank.Pl}}</td>
            </tr>
        </tbody>
    </table>
</section>