* {
	margin:0;
	padding:0;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

a:link,
a:visited,
a {
	text-decoration: none;
	color:#000;
}

body {
	font-size:100%;
	font-family: helvetica, arial;

}

table {
	width:100%;
	border-collapse: collapse;
	font-size:0.9rem;
}


td, th {
    padding: 0.5rem;
    text-align: left;
}

th {
	border-top: 1px solid #999;
	border-bottom:1px solid #999;
}

th, tr:nth-child(odd), nav {
	background-color:#f9f9f9;
}

td:not(:first-of-type) {
	border-left: 1px solid #999;
}

header {
	padding:0.5rem;
	width:100%;
	background-color:#2980B9;
}

header h1 {
	text-align: center;
	font-size:1rem;
	color:#fff;
	font-weight:normal;
}

header h1 span {
	display:block;
}

nav {
	display:table;
	width:100%;
	margin-bottom:1rem;
}

nav a {
	padding: 0.5rem;
	font-size: 0.9rem;
	text-align: center;
	display:table-cell; 
	color:#999;
	border-bottom:1px solid #999;
}

nav a.active {
	border-bottom:0;
	color:#000;
	background-color:#fff;
}

nav a:nth-child(1).active {
	border-right:1px solid #999;
}

nav a:nth-child(2).active, th.active {
	border-right:1px solid #999;
	border-left:1px solid #999;
}

nav a:nth-child(3).active {
	border-left:1px solid #999;
}

th.active {
	background-color:rgba(41, 128, 185, 0.30);
}

section h1 {
	margin-bottom:1rem;
	font-size:1em;
	font-weight:bold;
	text-align:center;
}

input {
	-moz-appearance:none;
	-webkit-appearance:none;
	appearance:none;
	border:1px solid #999;
	display:block;
	margin:1rem;
	border-radius:0;
	padding:0.5rem;
	min-width:20em;
	
}

.winner {
	background-color:#43D168;
	color:#fff;
}

label {
	display:block;
	margin:0 1rem;
}